<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a id="uno" href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a id="dos" href="{{ "/about-me/" | absolute_url }}">About me</a></li>
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a id="tres" href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  <li class="{% if page.url contains '/markuplang/' %} active {% endif %}"><a id="cuatro" href="{{ "/markuplang/" | absolute_url }}">Mark.up.Lang</a></li>
  <li class="{% if page.url contains '/itsystem/' %} active {% endif %}"><a id="cinco" href="{{ "/itsystem/" | absolute_url }}">IT.Sys</a></li>
  <li class="{% if page.url contains '/devepenvi/' %} active {% endif %}"><a id="seis" href="{{ "/devepenvi/" | absolute_url }}">Develop.environ</a></li>
  <li class="{% if page.url contains '/bbdd/' %} active {% endif %}"><a id="siete" href="{{ "/bbdd/" | absolute_url }}">BBDD</a></li>
  <li class="{% if page.url contains '/program/' %} active {% endif %}"><a id="ocho" href="{{ "/program/" | absolute_url }}">Programming</a></li>
  <!--<li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/elements/" | absolute_url }}">Elements Reference</a></li>-->
</ul>
