<ul class="subjects">
  <li class="contenedor" id="uno"><a href="{{ "/markuplang/" | absolute_url }}"><p class="texto">Mark-up Lang.</p></a>
  <img class="icono" src="{{ "/images/icon1.svg" | absolute_url }}" alt="" />
  </li>
  <li class="contenedor" id="dos"><a href="{{ "/itsystem/" | absolute_url }}"><p class="texto">IT Systems</p></a>
  <img class="icono" src="{{ "/images/icon2.svg" | absolute_url }}" alt="" />
  </li>
  <li class="contenedor" id="tres"><a href="{{ "/devepenvi/" | absolute_url }}"><p class="texto">Develop. environ.</p></a>
  <img class="icono" src="{{ "/images/icon3.png" | absolute_url }}" alt="" />
  </li>
  <li class="contenedor" id="cuatro"><a href="{{ "/bbdd/" | absolute_url }}"><p class="texto">BBDD</p></a>
  <img class="icono" src="{{ "/images/icon4.svg" | absolute_url }}" alt="" />
  </li>
  <li class="contenedor" id="cinco"><a href="{{ "/program/" | absolute_url }}"><p class="texto">Programming</p></a>
  <img class="icono" src="{{ "/images/icon5.svg" | absolute_url }}" alt="" />
  </li>
  <li class="contenedor" id="seis"><a href="{{ "/blog/" | absolute_url }}"><p class="texto">Blog</p></a>
  <img class="icono" src="{{ "/images/icon6.png" | absolute_url }}" alt="" />
  </li>
</ul>
